[system]
location = '正面口'

[ipcamera]
rtsp_uri='rtsp://<iOSアプリLiveReporterのIPアドレス>:554/title'
#rtsp_uri = 'rtsp://<<IPカメラのRTSPストリーミングURI>>'

[notion]
api_token = 'secret_xxx'
employee_db = 'xxx'
log_db = 'xxx'
